Celery-1.moved-aside/TableArrayDelegate.m
build/Celery.build/Celery.pbxindex/categories.pbxbtree
build/Celery.build/Celery.pbxindex/cdecls.pbxbtree
build/Celery.build/Celery.pbxindex/decls.pbxbtree
build/Celery.build/Celery.pbxindex/files.pbxbtree
build/Celery.build/Celery.pbxindex/imports.pbxbtree
build/Celery.build/Celery.pbxindex/pbxindex.header
build/Celery.build/Celery.pbxindex/protocols.pbxbtree
build/Celery.build/Celery.pbxindex/refs.pbxbtree
build/Celery.build/Celery.pbxindex/strings.pbxstrings/control
build/Celery.build/Celery.pbxindex/strings.pbxstrings/strings
build/Celery.build/Celery.pbxindex/subclasses.pbxbtree
build/Celery.build/Celery.pbxindex/symbols0.pbxsymbols
build/Celery.build/Debug/Celery Spotlight Importer.build/Celery Spotlight Importer.dep
build/Celery.build/Debug/Celery Spotlight Importer.build/Celery Spotlight Importer~.dep
build/Celery.build/Debug/Celery Spotlight Importer.build/Celery.hmap
build/Celery.build/Debug/Celery Spotlight Importer.build/Objects-normal/i386/Celery.LinkFileList
build/Celery.build/Debug/Celery Spotlight Importer.build/Objects-normal/i386/GetMetadataForFile.o
build/Celery.build/Debug/Celery Spotlight Importer.build/Objects-normal/i386/MySpotlightImporter.o
build/Celery.build/Debug/Celery Spotlight Importer.build/Objects-normal/i386/main.o
build/Celery.build/Debug/Celery Spotlight Importer.build/StaticAnalyzer/normal/i386/GetMetadataForFile.plist
build/Celery.build/Debug/Celery Spotlight Importer.build/StaticAnalyzer/normal/i386/MySpotlightImporter.plist
build/Celery.build/Debug/Celery Spotlight Importer.build/StaticAnalyzer/normal/i386/main.plist
build/Celery.build/Debug/Celery Spotlight Importer.build/build-state.dat
build/Celery.build/Debug/Celery Spotlight Importer.build/build-state~.dat
build/Celery.build/Debug/Celery.build/Celery.dep
build/Celery.build/Debug/Celery.build/Celery.hmap
build/Celery.build/Debug/Celery.build/Celery~.dep
build/Celery.build/Debug/Celery.build/Objects-normal/i386/Celery.LinkFileList
build/Celery.build/Debug/Celery.build/Objects-normal/i386/CeleryUIController.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/Celery_AppDelegate.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/Celery_AppDelegate.o~$
build/Celery.build/Debug/Celery.build/Objects-normal/i386/Celery_AppDelegate.o~>
build/Celery.build/Debug/Celery.build/Objects-normal/i386/Celery_AppDelegate.o~?
build/Celery.build/Debug/Celery.build/Objects-normal/i386/FatSecretManager.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/FoodData.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/NSObject+SBJSON.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/NSString+SBJSON.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/SBJSON.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/SBJsonBase.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/SBJsonParser.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/SBJsonWriter.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/TableArrayDelegate-37E2FD71C524623B.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/TableArrayDelegate.o
build/Celery.build/Debug/Celery.build/Objects-normal/i386/main.o
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/CeleryUIController.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/Celery_AppDelegate.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/FatSecretManager.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/FoodData.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/NSObject+SBJSON.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/NSString+SBJSON.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/SBJSON.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/SBJsonBase.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/SBJsonParser.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/SBJsonWriter.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/TableArrayDelegate.plist
build/Celery.build/Debug/Celery.build/StaticAnalyzer/normal/i386/main.plist
build/Celery.build/Debug/Celery.build/build-state.dat
build/Celery.build/Debug/Celery.build/build-state~.dat
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Headers
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/JSON
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/PrivateHeaders
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Resources
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/Headers/JSON.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/JSON
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/NSObject+SBJSON.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/NSString+SBJSON.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/SBJSON.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/SBJsonBase.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/SBJsonParser.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/PrivateHeaders/SBJsonWriter.h
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/A/Resources/Info.plist
build/Debug/Celery.app/Contents/Frameworks/JSON.framework/Versions/Current
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Headers
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/MPOAuth
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Resources
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuth.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthAPI.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthAPIRequestLoader.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthConnection.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthCredentialStore.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthParameterFactory.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthURLRequest.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPOAuthURLResponse.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Headers/MPURLRequestParameter.h
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/MPOAuth
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Resources/Info.plist
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/A/Resources/oauthAutoConfig.plist
build/Debug/Celery.app/Contents/Frameworks/MPOAuth.framework/Versions/Current
build/Debug/Celery.app/Contents/Info.plist
build/Debug/Celery.app/Contents/Library/Spotlight/Celery.mdimporter/Contents/Info.plist
build/Debug/Celery.app/Contents/Library/Spotlight/Celery.mdimporter/Contents/MacOS/Celery
build/Debug/Celery.app/Contents/MacOS/Celery
build/Debug/Celery.app/Contents/PkgInfo
build/Debug/Celery.app/Contents/Resources/Celery_DataModel.mom
build/Debug/Celery.app/Contents/Resources/English.lproj/InfoPlist.strings
build/Debug/Celery.app/Contents/Resources/English.lproj/MainMenu.nib
build/Debug/Celery.mdimporter/Contents/Info.plist
build/Debug/Celery.mdimporter/Contents/MacOS/Celery